//Configuraciones globales
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

//Colors
$uas-blue:  #0a22a8;
$uas-gold: #ffd100;
$uas-white:  #f0f3f4 ;
$uas-blue2: #0C0057;
$uas-gold2: #FDD110;
