.login {
    height: inherit;

    .header {
        align-items: center;
        background-color: $uas-gold;
        display: flex;
        justify-content: space-around;
        min-height: 12%;

        &__title {
            font-size: 1.2em;
            font-weight: bold;
            text-align: center;
            // -webkit-text-stroke: 0.3px $uas-white;
            &::after {
                content: 'Modulo de alumnos';
                display: block;
            }
        }  

        &__img {
            height: 60px;
            width: 50px;
            &:last-child {
                display: none;
            }
        }
    }

    .main {
        align-items: center;
        background-color: $uas-blue;
        display: flex;
        flex-direction: column;
        height: 88%;
        justify-content: center;
        min-height: 88%;

        .container {
            align-items: center;
            background-color: $uas-white;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            height: 85%;
            width: 90%;

            &__title {
                color: $uas-blue;
                text-align: center;
                font-size: 1.5em;
                font-weight: bold;
                margin: 1em 0em 0em 0em;
                letter-spacing: 1px;
                line-height: 1.5em;
            }

            &__subtitle {
                display: none;
            }

            .form {
                align-items: center;
                display: flex;
                flex-direction: column;
                height: 70%;
                width: 100%;

                &__title {
                    display: none;
                }

                &__submit {
                    background-color: $uas-gold;
                    border: none;
                    border-radius: 5px;
                    color: $uas-blue;
                    font-size: 1.2em;
                    font-weight: bold;
                    margin-top: 1.5em;
                    padding: 10px;
                    width: 80%;
                }

                .numCuenta, .nip {
                    align-items: center;
                    border-bottom: 1px solid rgb(212, 212, 212);
                    display: flex;
                    justify-content: center;
                    width: 90%;
                    
                    &__input {
                        font-size: 1.2em;
                        width: 100%;
                        border: none;
                        height: 2em;

                        &:focus {
                            outline: none;
                        }
                    }
                }

                .numCuenta {
                    margin: 4em 2em 2em 2em;
                }

                .nip {
                    margin: 1em 2em 2em 2em;
                }
            }
        }
    }
}

.fix {
    height: calc(100% + 200px);
}


@media only screen  and (min-width : 1224px) {
    .login {    
        .header {
            justify-content: center;
    
            &__title {
                font-size: 2.5em;
                color: $uas-blue;
                padding: 0em 1.5em;
                &::after {
                    content: 'Modulo de alumnos';
                    display: none;
                }
            }  
    
            &__img {
                height: 70px;
                width: 60px;
                &:last-child {
                    display: block;
                    width: 90px;
                }
            }
        }
    
        .main {
            .container {
                align-items: center;
                background-color: rgba($color: $uas-white, $alpha: .67);
                height: 90%;
                width: 40%;
    
                &__title {
                    color: black;
                    font-size: 1.8em;
                    letter-spacing: 0px;
                    line-height: 1em;
                    letter-spacing: 2px;
                    margin-top: 1.2em;
                }
                
                &__subtitle {
                    display: block;
                    font-size: 1.3em;
                    letter-spacing: 1px;
                    line-height: 1em;
                    margin-top: 1.3em;
                    margin-bottom: 1.6em;
                }
    
                .form {
                    background-color: $uas-white;
                    border-radius: inherit;
                    width: 70%;
                    height: 68%;
    
                    &__title {
                        display: block;
                        font-size: 2em;
                        font-weight: bold;
                        margin-top: 1em;
                    }
    
                    &__submit {
                        width: 50%;
                    }
    
                    .numCuenta, .nip {
                        align-items: center;
                        border-bottom: 1px solid black;
                        display: flex;
                        justify-content: center;
                        padding: 2px 10px;
                        width: 70%;                       
                    }
    
                    .numCuenta {
                        margin: 4em 2em 2em 2em;
                    }
    
                    .nip {
                        margin: 1em 2em 2em 2em;
                    }
                }
            }
        }
    }
}