.login {
    .logo {
        img {
            &:first-child {
                height: 7rem;
                width: 6rem;
            }
            
            &:last-child {
                height: 6rem;
                width: 7.5rem;
            }
        }
    }
    .title {
        font-size: 2.5rem;
    }

    .numCuenta, .nip {
        border-bottom: 1px solid $primary;
        margin-top: 50px;

        &__input {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .form-control {
            font-size: 1.1rem;
            min-height: 1rem;
            line-height: initial;
        }
        .form-control:focus {
            outline: none;
            box-shadow: none;
        }
    }
    
    .btn {
        min-height: 3.125rem;
        font-weight: 600;
        background-color: $uas-gold;
        border-color: $uas-gold;
    
        &:hover {
            outline: 5px solid $uas-blue;
        }
    }
}

@media only screen  and (max-width : 990px) {
    .login {
        background: url('../../assets/images/img-1.png');
        background-size: cover;
        background-position: center;
        color: $uas-white;

        .title {
            font-size: 2.1rem;
        }

        .logo {
            justify-content: center !important;
        }

        &__form {
            background-color: rgba($color: $uas-blue, $alpha: 0.5);
        }

        .numCuenta, .nip {
            border-bottom: 1px solid $uas-white;
            margin-top: 50px;
    
            &__input {
                align-items: center;
                display: flex;
                justify-content: center;
            }
    
            .form-control {
                background-color: transparent;
                color: $uas-white;
                padding-left: 0px;
                padding-right: 0px;

                &::placeholder{
                    color: darken($color: $uas-white, $amount: 10);
                }
            }
            .form-control:focus {
                outline: none;
                box-shadow: none;
            }

        }
        .btn {
            min-height: 2.8rem;
            font-size: 1rem;

            &:hover{
                outline: none;
                box-shadow: none;
                background-color: darken($uas-gold, 10);
            }
        }
    }
}